@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.navbarIndex {
  background-color: navy;
  padding: 25px;
}
.navbarIndex ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.navbarIndex ul li .active {
  color: cornflowerblue;
}
.navbarIndex ul li a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}

.mainIndex {
  display: grid;
  grid-template-areas: "titulo titulo" "img1 img2";
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, auto);
}
.mainIndex .titulo {
  grid-area: titulo;
}
.mainIndex .img1 {
  grid-area: img1;
}
.mainIndex .img2 {
  grid-area: img2;
}

.img1,
.img2 {
  width: 600px;
  justify-self: center;
}

.container__footerIndex {
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  background-color: navy;
  padding: 15px;
}
.navbar .container-fluid {
  justify-content: right;
}
.navbar .container-fluid .navbar-toggler {
  background-color: cornflowerblue;
  opacity: 0.8;
  padding: 3px 5px;
}
.navbar .container-fluid .navbar-collapse {
  justify-content: center;
}
.navbar .container-fluid .navbar-collapse .navbar-nav {
  gap: 10px;
  text-align: right;
}
.navbar .container-fluid .navbar-collapse .navbar-nav li {
  display: inline-block;
  font-weight: bold;
}
.navbar .container-fluid .navbar-collapse .navbar-nav li .nav-link {
  color: white;
  letter-spacing: 1px;
  padding: 10px 0 10px 20px !important;
}
.navbar .container-fluid .navbar-collapse .navbar-nav li .nav-link:hover {
  color: cornflowerblue;
}
.navbar .container-fluid .navbar-collapse .navbar-nav li .active {
  color: cornflowerblue;
}

header h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.mainIndex h3, .mainServicios h3, .mainTurnos h3, .mainNos h3, .mainProduc h3 {
  padding: 25px;
  text-align: center;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

footer {
  text-align: center;
}
footer .container__footer, footer .container__footerIndex {
  padding: 15px;
}
footer .container__footer h4, footer .container__footerIndex h4 {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
footer .container__footer a, footer .container__footerIndex a {
  text-decoration: none;
}
footer .container__footer a img, footer .container__footerIndex a img {
  width: 30px;
}
footer p {
  padding: 15px 0;
  margin: 0;
  background-color: firebrick;
  font-weight: 600;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* SERVICIOS */
.mainServicios {
  text-align: center;
}
.mainServicios img {
  width: 500px;
}

/* TURNOS */
.mt-20 {
  margin-top: 20px;
}

/* SOBRE NOSOTROS */
.mainNos {
  text-align: center;
  overflow-x: hidden;
}
.mainNos .div__pNos {
  align-self: center;
  line-height: 35px;
}
.mainNos img {
  width: 450px;
}
.mainNos .sectionNos {
  margin: 25px 0 15px;
}

/* PRODUCTOS */
.mainProduc {
  text-align: center;
}
.mainProduc img {
  width: 150px;
}

/* Media Queris */
@media only screen and (min-width: 481px) and (max-width: 991px) {
  header h1 {
    font-size: 28px;
  }
  .mainIndex .row,
  .mainServicios .row {
    justify-content: center;
    gap: 40px;
  }
  .mainIndex img,
  .mainServicios img,
  .mainNos img {
    width: 500px;
  }
  .row--gap {
    gap: 20px;
  }
}
@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 24px;
  }
  .mainIndex .row,
  .mainServicios .row {
    justify-content: center;
    gap: 30px;
  }
  .mainIndex img,
  .mainServicios img,
  .mainNos img {
    width: 75%;
  }
  .container__footer .row, .container__footerIndex .row {
    gap: 30px;
  }
  .row--gap {
    gap: 20px;
  }
}

/*# sourceMappingURL=estilos.css.map */
