@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "indexSinBS";
@import "header";
@import "main";
@import "footer";

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* SERVICIOS */
.mainServicios {
    text-align: center;

    img {
        width: 500px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    p{
        margin-top: 10px;
    }
}

/* TURNOS */
.mt-20 {
    margin-top: 20px;
}

/* SOBRE NOSOTROS */
.mainNos {
    text-align: center;
    overflow-x: hidden;

    .div__pNos {
        align-self: center;
        line-height: 35px;
    }

    img {
        width: 450px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .sectionNos {
        margin: 25px 0 15px;
    }
}

/* PRODUCTOS */
.mainProduc {
    text-align: center;

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        .card {
            width: 250px;

            img {
                width: 150px;
                align-self: center;
            }
        }
    }
}

/* Media Queris */
@media only screen and (min-width: 481px) and (max-width:991px) {
    header h1 {
        font-size: 28px;
    }

    .mainServicios .row {
        justify-content: center;
        gap: 40px;
    }

    .mainServicios img,
    .mainNos img {
        width: 500px;
    }

    .row--gap {
        gap: 20px;
    }

    .mainNos iframe {
        width: 500px;
        height: 400px;
    }
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    .mainServicios .row {
        justify-content: center;
        gap: 40px;
    }

    .mainServicios img,
    .mainNos img {
        width: 75%;
    }

    .row--gap {
        gap: 20px;
    }

    .mainNos iframe {
        width: 350px;
        height: 350px;
    }
}