@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "header";
@import "main";
@import "footer";

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* SERVICIOS */
.mainServicios {
    text-align: center;

    img {
        width: 500px;
    }
}

/* TURNOS */
.mt-20 {
    margin-top: 20px;
}

/* SOBRE NOSOTROS */
.mainNos {
    text-align: center;

    .div__pNos {
        align-self: center;
        line-height: 35px;
    }

    img {
        width: 450px;
    }
}

/* PRODUCTOS */
.mainProduc {
    text-align: center;

    img {
        width: 150px;
    }
}

@mixin sizes($justifyContent, $gap) {
    justify-content: $justifyContent;
    gap: $gap;
}

/* Media Queris */
@media only screen and (min-width: 481px) and (max-width:991px) {
    header h1 {
        font-size: 28px;
    }

    .mainIndex .row,
    .mainServicios .row {
        @include sizes(center, 40px);
    }

    .mainIndex img,
    .mainServicios img,
    .mainNos img {
        width: 500px;
    }

    .row--gap {
        gap: 20px;
    }
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    .mainIndex .row,
    .mainServicios .row {
        @include sizes(center, 30px);
    }

    .mainIndex img,
    .mainServicios img,
    .mainNos img {
        width: 75%;
    }

    .container__footer .row {
        gap: 30px;
    }

    .row--gap {
        gap: 20px;
    }
}