@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* NAV */
.navbar{
    background-color: navy;
    padding: 15px;
    .container-fluid{
        justify-content: right;
        .navbar-toggler{
            background-color: cornflowerblue;
            opacity: 0.8;
            padding: 3px 5px;
        }
        .navbar-collapse{
            justify-content: center;
            .navbar-nav{
                gap: 10px;
                text-align: right;
                li{
                    display: inline-block;
                    font-weight: bold;
                    .nav-link{
                        color: white;
                        letter-spacing: 1px;
                        padding: 10px 0 10px 20px !important;
                        &:hover{
                            color: cornflowerblue;
                        }
                    }
                    .active{
                        color: cornflowerblue;
                    }
                }
            }
        }
    }
}

header h1{
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

/* MAIN */
@mixin titulosMain{
    padding: 25px;
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.mainIndex h3, .mainServicios h3, .mainTurnos h3, .mainNos h3, .mainProduc h3{
    @include titulosMain;
}

/* FOOTER */
footer{
    text-align: center;
    font-weight: bold;
    .container__footer{
        padding: 15px;
        h4{
            font-size: 18px;
            font-weight: 600;
        }
        a{
            text-decoration: none;
            img{
                width: 30px;
            }
        }
    }
    p{
        padding: 15px 0;
        margin: 0;
        background-color: firebrick;
        font-weight: 600;
    }
}

/* SERVICIOS */
.mainServicios{
    text-align: center;
    img{
        width: 500px;
    }
}

/* TURNOS */
.mt-20{
    margin-top: 20px;
}

/* SOBRE NOSOTROS */
.mainNos{
    text-align: center;
    .div__pNos{
        align-self: center;
        line-height: 35px;
    }
    img{
        width: 450px;
    }
}

/* PRODUCTOS */
.mainProduc{
    text-align: center;
    img{
        width: 150px;
    }
}

/* Media Queris */
@media only screen and (min-width: 481px) and (max-width:991px){
    header h1{
        font-size: 28px;
    }

    .mainIndex .row, .mainServicios .row{
        justify-content: center;
        gap: 40px;
    }

    .mainIndex img, .mainServicios img, .mainNos img{
        width: 500px;
    }

    .row--gap{
        gap: 20px;
    }
}

@media only screen and (max-width: 480px){
    header h1{
        font-size: 24px;
    }

    .mainIndex .row, .mainServicios .row{
        justify-content: center;
        gap: 30px;
    }

    .mainIndex img, .mainServicios img, .mainNos img{
        width: 75%;
    }

    .container__footer .row{
        gap: 30px;
    }

    .row--gap{
        gap: 20px;
    }
}